<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="landing.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <nav>
            <img src="logovirustotal.png" class="logo" alt="">
            <div class="buttonsc">
                <button onclick="window.location='landing.html'" class="btn">Home</button>
                <button onclick="window.location='urls.html'" class="btn">Urls</button>
                <button onclick="window.location='landing.html'" class="btn">Del Acc</button>
                <button onclick="window.location='login.html'" class="btn">Login</button>
                <button onclick="window.location='signup.html'" class="btn">Signup</button>
            </div>
        </nav>
    </div>
    <div class="maincontent">
    <div class="pickone">
</body>
</html>